:root{
    --banner-color:#1ABC9C;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.container *{
    text-transform: uppercase;
}
.header-img{
    max-width: 200px;
    height: auto;
}
h1{
    text-transform: uppercase;
}
header{
    background-color: var(--banner-color);
}
.about{
    background-color: var(--banner-color);
}
main .d-flex img{
    width: 300px;
}
.text{
    column-gap: 1rem;
}
.text p{
    max-width: 300px;
}